.title {
  color: white;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 40px;
}

.patty{
  color: whitesmoke;
  font-size: 35px;
  text-align: center;
}
h2 {
  text-align: center;
  color: red;
}

.layout {
  width: 100%;
  display: flex;
  gap: 50px;
  font-size: 25px;
  justify-content: center;
  color: darkblue;
}
.secondsection {
  width: 100%;
  display: flex;
  gap: 50px;
  font-size: 25px;
  justify-content: center;
  color: darkblue;

}
.opp {
  padding-top: 120px;
}
body {
  background-color: deepskyblue;
  text-align: center;
}

li {
  text-align: left;
}
.instuctions {
  padding-top: 120px;

}
img {
  border-radius: 90px;
}
.howtomakeit {
  text-align: left;
}

.MRKRABS {
  text-align: center;
  color: #8B4000;
  font-size: 20px;
}

.kelp {
  text-align: center;
  color: #8B4000;
  padding-bottom: 20px;
  font-size: 20px;
}

.review {
  text-align: center;
  color: darkblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.written {
  text-align: center;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkblue;
}

.firstdropdown {
  color: blueviolet;
  display: fl;
}

.DP {
  display: flex;
  justify-content: center;
}
